.git
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.db.sqlite3
.pytest_cache
.coverage
htmlcov
.tox
.nox
.env
.dockerignore
Dockerfile
docker-compose.yml
node_modules
media
staticfiles
logs
db.sqlite3
postgres_data
transportadora_db
.local
.cache
.ipython
.jupyter
.vscode
.idea
*.log
